@charset 'utf-8';
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

// reset
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, select{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    word-break: break-all;
    font-weight: 400;
    color: #333;
    letter-spacing: -0.5px;
    font-size:14px;
}
body{
    min-width:320px;
}
table{
    padding:0;
    border:0;
    border-spacing:0px;
    border-collapse:collapse;
}
th,td{
    padding:0;
}
img{
    vertical-align: top;
}
ul,li{
    list-style:none;
    word-break: keep-all;
}
a{
    text-decoration: none;
    color:inherit;
    font-weight: inherit;
    font-size:inherit;
}
em{
    font-style: normal;
    color:inherit;
    font-size:inherit;
}
:focus{
    outline:none;
}

button{
    background-color: transparent;
    border:0;
    cursor: pointer;
}
// common
$main-color:rgb(95, 0, 128);
$common-width:1050px;

// mixin
@mixin center_width{
    position:relative;
    width:1050px;
    margin:0 auto;
}
@mixin flex_center{
    display:flex;
    justify-content: center;
}
@mixin flex_between{
    display:flex;
    justify-content: space-between;
}
.inner{
    position:relative;
    width:1326px;
    margin:0 auto;
}
// layout
header{
    max-width: 1920px;
    margin: 0px auto;
    padding: 16px 20px;
    height:120px;
    border-bottom: 1px solid rgb(238, 238, 238);
    .row1{
        display:flex;
        justify-content: space-between;
        h1{
            font-size:28px;
            font-weight: bold;
            color:#000;
        }
        .quick_menu{
            ul{
                display:flex;
                li{
                    position:relative;
                    width:36px;
                    .bi{
                        font-size:22px;
                    }
                    .count{
                        position: absolute;
                        right: 0px;
                        bottom: -5px;
                        margin-left: 4px;
                        display: inline-block;
                        color: rgb(255, 255, 255);
                        background-color: rgb(0, 0, 0);
                        font-weight: 500;
                        font-size: 11px;
                        padding: 0px 3px;
                        border-radius: 20px;
                        min-width: 20px;
                        height: 20px;
                        line-height: 20px;
                        text-align: center;
                    }
                }
            }
        }
    }
    .row2{
        display:flex;
        justify-content: space-between;
         margin-top: 12px;
         .nav_area{
            display:flex;
            .nav_list{
                width: 40px;
                height: 40px;
                border-radius: 7px;
                border: 1px solid rgb(226, 226, 226);
                position: relative;
                .bi{
                    font-size:22px;
                    fill:#000;
                }
            }
            .nav1, .nav2{
                position:relative;
                display:flex;
                gap:14px;
                margin-left:22px;
                li{
                    position:relative;
                    display:flex;
                    align-items: center;
                    a{
                        padding: 0px 1px;
                        font-size: 17px;
                        font-weight: 500;
                        line-height: 130%;
                    }
                }
                & .dot::after{
                    content: "";
                    display: inline-block;
                    border-radius: 50%;
                    background-color: rgb(250, 85, 0);
                    width: 4px;
                    height: 4px;
                    margin-left: 2px;
                    transform: translateY(-8px);
                }
            }
            .nav2{
                padding-left:16px;
                &::after{
                    content: "";
                    width: 1px;
                    height: 16px;
                    background-color: rgb(226, 226, 226);
                    position: absolute;
                    left: 0px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
        .search_area{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 360px;
            height: 40px;
            border-bottom: 1px solid rgb(0, 0, 0);
            input{
                width:85%;
                height:40px;
                background-color: transparent;
                border:0;
            }
            button{
                width:40px;
                height:40px;
                .bi{font-size:20px;}
            }
        }
    }
    
}
footer{
    background-color: rgb(249, 249, 249);
    border-top: 1px solid rgb(238, 238, 238);
    margin-top: 120px;
    padding: 40px 20px;
    .inner{
        width: 1326px;
        margin: 0px auto;
        display: flex;
        flex-flow: row;
        -webkit-box-pack: start;
        justify-content:space-between;
        -webkit-box-align: center;
    }
    .left{
        display: flex;
        min-width: 595px;
        flex-flow: column;
        -webkit-box-pack: start;
        justify-content: flex-start;
        align-items: flex-start;
        ul{
            display: flex;
            flex-flow: wrap;
            width:420px;
            -webkit-box-pack: start;
            justify-content: flex-start;
            -webkit-box-align: center;
            align-items: center;
            column-gap: 16px;
            a{
                font-size: 16px;
                font-weight: 500;
                line-height: 120%;
                color: rgb(0, 0, 0);
            }
        }
        .help{
            margin-top: 60px;
            h3{
                padding-bottom: 3px;
            }
            .column{
                display: flex;
                flex-flow: column;
                -webkit-box-pack: start;
                justify-content: flex-start;
                align-items: flex-start;
                .tel{
                    display: inline-block;
                    height: 34px;
                    font-size: 28px;
                    font-weight: 600;
                    line-height: 120%;
                    color: rgb(0, 0, 0);
                }
                .time{
                    display: inline-block;
                    margin-left: 4px;
                    font-size: 16px;
                    color: rgb(153, 153, 153);
                    font-weight: 500;
                }
            }
        }
    }
    .right{
        display: flex;
        flex-flow: column;
        -webkit-box-pack: start;
        justify-content: flex-start;
        align-items: flex-start;

            .title{
                padding-bottom: 7px;
                font-size: 16px;
                font-weight: 500;
                line-height: 130%;
                color: rgb(0, 0, 0);
            }
            .list{
                display: flex;
                flex-flow: wrap;
                -webkit-box-pack: start;
                justify-content: flex-start;
                align-items: flex-start;
                color: rgb(119, 119, 119);
                font-size: 13px;
                line-height: 130%;
                gap: 5px 16px;
            }
            .aside{
                margin-top: 24px;
            }
    }
    .desc{
        width: 1326px;
        font-size: 13px;
        line-height: 130%;
        color: rgb(119, 119, 119);
        margin: 24px auto 0px;
        padding-top: 24px;
        border-top: 1px solid rgb(238, 238, 238);
    }
}