.container{
    .main_top_slide{
        position:relative;
        margin-bottom:70px;
        margin-top:20px;
        .swiper-slide{
            width: 430px;
            height: 573px;
            border-radius: 24px;
            overflow: hidden;
        }
        .swiper-pagination{
            top:calc( 100% + 20px);
            left:50%;
            width:1200px;
            transform:translateX(calc(-50% - 100px))
        }
        .swiper-button-next, .swiper-button-prev{
            top:calc( 100% + 52px);
            zoom:40%;
            font-weight: bold;
            color:#000;
        }
        .swiper-button-prev{
            left:50%;
            transform:translateX(1350px)
        }
        .swiper-button-next{
            left:50%;
            transform:translateX(1450px)
        }
        .swiper-pause{
            position:absolute;
            top:calc( 100% + 5px);
            left:50%;
            width:27px;
            transform:translateX(600px);
            cursor: pointer;
            .bi{
                font-size:27px;
            }
        }
        .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{background:#000;}
    }
    .quick_menu .inner{
        width:1000px;
        ul{text-align:center}
        li{
            display: inline-flex;
            flex-flow: row;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            font-family: inherit;
            font-size: inherit;
            font-weight: inherit;
            font-size:15px;
            color: inherit;
            height: 44px;
            padding: 5px 17px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 40px;
            border-radius: 40px;
            margin-top:8px;
            gap:5px;
            cursor: pointer;
        }
    }
    .style_1, .style_2{
        margin-top:96px;
        .tit_area{
            display:flex;
            justify-content: space-between;
            padding-bottom:20px;
            h3{
                font-weight: 600;
                line-height: 130%;        
                font-size: 24px;
            }
            a{
                font-size: 16px;    
                line-height: 130%;
                color: rgb(153, 153, 153);
            }
        }
    }
}

// slide style 1
.style1Swiper{
    .swiper-slide{
        width:206px;
        .img{
            width:206px;
            height:275px;
        }
        .detail{
            position:relative;
            padding-top:14px;
            .tit{
                font-size: 15px;
                padding-right: 23px;
                font-weight: 600;
            }
            .txt{
                margin-top: 4px;
                display: -webkit-box;
                text-overflow: ellipsis;
                overflow: hidden;
                -webkit-line-clamp: 1;
                line-clamp: 1;
                -webkit-box-orient: vertical;
                -webkit-box-align: initial;
                word-break: break-all;
                overflow-wrap: break-word;
                font-size: 14px;
                color: rgb(85, 85, 85);
            }
            .price_area{
                display: flex;
                flex-flow: wrap;
                justify-content: flex-start;
                align-items: center;
                margin-top: 8px;
                .dc{
                    font-size: 17px;
                    margin-right: 7px;
                    font-weight: 600;
                    color: rgb(255, 70, 0);
                    line-height: 130%;
                }
                .price{
                    font-size: 17px;
                    line-height: 130%;
                    font-weight: 600;
                }
            }
            .heart{
                position:absolute;
                top:13px;
                right:0;
                font-size:17px;
                color:#666;
                cursor: pointer;
            }
        }
    }
    .swiper-button-next, .swiper-button-prev{
        top:137px;
        width:36px;
        height:36px;
        opacity: 1;
        visibility: visible;
        background: rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        transition: 0.2s;
        &::after{display:none;}
        & .bi{
            color:#fff
        }
    }
    &:hover .swiper-button-next, &:hover .swiper-button-prev{
        background: rgba(0, 0, 0, 0.7);
    }
}

// slide style 2
.style2Swiper{
    padding-bottom:70px !important;
    .swiper-slide{
        display:flex;
        justify-content: space-between;
        align-items: start;
        .img{
            width:616px;
        }
        .detail{
            width:654px;
            display:flex;
            flex-direction: column;
            height:616px;
            & > .tit_area{
                flex-direction: column;
                .tit{
                    font-size: 48px;
                    line-height: 120%;
                    font-weight: 600;
                    display: -webkit-box;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    -webkit-line-clamp: 2;
                    line-clamp: 2;
                    -webkit-box-orient: vertical;
                    -webkit-box-align: initial;
                    word-break: keep-all;
                    overflow-wrap: break-word;
                }
                .txt{
                    margin-top: 8px;
                    font-size: 16px;
                    line-height: 135%;
                    color: rgb(85, 85, 85);
                }
            }
            
            & > ul {
                margin-top:auto;
                display:flex;
                gap:16px;
                li{
                    position:relative;
                    width:207px;
                    & > div{
                        position:relative;
                        margin-top:15px;
                        .tit{
                            font-size: 15px;
                            padding-right: 23px;
                            font-weight: 600;
                        }
                        .txt{
                            margin-top: 4px;
                            display: -webkit-box;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            -webkit-line-clamp: 1;
                            line-clamp: 1;
                            -webkit-box-orient: vertical;
                            -webkit-box-align: initial;
                            word-break: break-all;
                            overflow-wrap: break-word;
                            font-size: 14px;
                            color: rgb(85, 85, 85);
                        }
                        .price_area{
                            display: flex;
                            flex-flow: wrap;
                            justify-content: flex-start;
                            align-items: center;
                            margin-top: 8px;
                            .dc{
                                font-size: 17px;
                                margin-right: 7px;
                                font-weight: 600;
                                color: rgb(255, 70, 0);
                                line-height: 130%;
                            }
                            .price{
                                font-size: 17px;
                                line-height: 130%;
                                font-weight: 600;
                            }
                        }
                        .heart{
                            position:absolute;
                            top:0;
                            right:0;
                            font-size:17px;
                            color:#666;
                            cursor: pointer;
                        }
                    }
                    
                }
                
            }
        }
    }
    .swiper-pagination {
        bottom:0;
        font-size:17px;
        span{
            font-size:17px;
        }
    }
    .swiper-button-prev,
    .swiper-button-next{
        top:calc(100% - 10px);
        left:50%;
        width:50px;
        font-weight: 600;
        color:#000;
        text-shadow: 1px 0 0 currentColor;
        &:after{
            display:none
        }
    }
    .swiper-button-prev{
        transform:translateX(-80px);
    }
    .swiper-button-next{
        transform:translateX(30px);
    }
}