.container .main_top_slide {
  position: relative;
  margin-bottom: 70px;
  margin-top: 20px;
}
.container .main_top_slide .swiper-slide {
  width: 430px;
  height: 573px;
  border-radius: 24px;
  overflow: hidden;
}
.container .main_top_slide .swiper-pagination {
  top: calc(100% + 20px);
  left: 50%;
  width: 1200px;
  transform: translateX(calc(-50% - 100px));
}
.container .main_top_slide .swiper-button-next, .container .main_top_slide .swiper-button-prev {
  top: calc(100% + 52px);
  zoom: 40%;
  font-weight: bold;
  color: #000;
}
.container .main_top_slide .swiper-button-prev {
  left: 50%;
  transform: translateX(1350px);
}
.container .main_top_slide .swiper-button-next {
  left: 50%;
  transform: translateX(1450px);
}
.container .main_top_slide .swiper-pause {
  position: absolute;
  top: calc(100% + 5px);
  left: 50%;
  width: 27px;
  transform: translateX(600px);
  cursor: pointer;
}
.container .main_top_slide .swiper-pause .bi {
  font-size: 27px;
}
.container .main_top_slide .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #000;
}
.container .quick_menu .inner {
  width: 1000px;
}
.container .quick_menu .inner ul {
  text-align: center;
}
.container .quick_menu .inner li {
  display: inline-flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-size: 15px;
  color: inherit;
  height: 44px;
  padding: 5px 17px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  border-radius: 40px;
  margin-top: 8px;
  gap: 5px;
  cursor: pointer;
}
.container .style_1, .container .style_2 {
  margin-top: 96px;
}
.container .style_1 .tit_area, .container .style_2 .tit_area {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.container .style_1 .tit_area h3, .container .style_2 .tit_area h3 {
  font-weight: 600;
  line-height: 130%;
  font-size: 24px;
}
.container .style_1 .tit_area a, .container .style_2 .tit_area a {
  font-size: 16px;
  line-height: 130%;
  color: rgb(153, 153, 153);
}

.style1Swiper .swiper-slide {
  width: 206px;
}
.style1Swiper .swiper-slide .img {
  width: 206px;
  height: 275px;
}
.style1Swiper .swiper-slide .detail {
  position: relative;
  padding-top: 14px;
}
.style1Swiper .swiper-slide .detail .tit {
  font-size: 15px;
  padding-right: 23px;
  font-weight: 600;
}
.style1Swiper .swiper-slide .detail .txt {
  margin-top: 4px;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  -webkit-box-align: initial;
  word-break: break-all;
  overflow-wrap: break-word;
  font-size: 14px;
  color: rgb(85, 85, 85);
}
.style1Swiper .swiper-slide .detail .price_area {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 8px;
}
.style1Swiper .swiper-slide .detail .price_area .dc {
  font-size: 17px;
  margin-right: 7px;
  font-weight: 600;
  color: rgb(255, 70, 0);
  line-height: 130%;
}
.style1Swiper .swiper-slide .detail .price_area .price {
  font-size: 17px;
  line-height: 130%;
  font-weight: 600;
}
.style1Swiper .swiper-slide .detail .heart {
  position: absolute;
  top: 13px;
  right: 0;
  font-size: 17px;
  color: #666;
  cursor: pointer;
}
.style1Swiper .swiper-button-next, .style1Swiper .swiper-button-prev {
  top: 137px;
  width: 36px;
  height: 36px;
  opacity: 1;
  visibility: visible;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: 0.2s;
}
.style1Swiper .swiper-button-next::after, .style1Swiper .swiper-button-prev::after {
  display: none;
}
.style1Swiper .swiper-button-next .bi, .style1Swiper .swiper-button-prev .bi {
  color: #fff;
}
.style1Swiper:hover .swiper-button-next, .style1Swiper:hover .swiper-button-prev {
  background: rgba(0, 0, 0, 0.7);
}

.style2Swiper {
  padding-bottom: 70px !important;
}
.style2Swiper .swiper-slide {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.style2Swiper .swiper-slide .img {
  width: 616px;
}
.style2Swiper .swiper-slide .detail {
  width: 654px;
  display: flex;
  flex-direction: column;
  height: 616px;
}
.style2Swiper .swiper-slide .detail > .tit_area {
  flex-direction: column;
}
.style2Swiper .swiper-slide .detail > .tit_area .tit {
  font-size: 48px;
  line-height: 120%;
  font-weight: 600;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  -webkit-box-align: initial;
  word-break: keep-all;
  overflow-wrap: break-word;
}
.style2Swiper .swiper-slide .detail > .tit_area .txt {
  margin-top: 8px;
  font-size: 16px;
  line-height: 135%;
  color: rgb(85, 85, 85);
}
.style2Swiper .swiper-slide .detail > ul {
  margin-top: auto;
  display: flex;
  gap: 16px;
}
.style2Swiper .swiper-slide .detail > ul li {
  position: relative;
  width: 207px;
}
.style2Swiper .swiper-slide .detail > ul li > div {
  position: relative;
  margin-top: 15px;
}
.style2Swiper .swiper-slide .detail > ul li > div .tit {
  font-size: 15px;
  padding-right: 23px;
  font-weight: 600;
}
.style2Swiper .swiper-slide .detail > ul li > div .txt {
  margin-top: 4px;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  -webkit-box-align: initial;
  word-break: break-all;
  overflow-wrap: break-word;
  font-size: 14px;
  color: rgb(85, 85, 85);
}
.style2Swiper .swiper-slide .detail > ul li > div .price_area {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 8px;
}
.style2Swiper .swiper-slide .detail > ul li > div .price_area .dc {
  font-size: 17px;
  margin-right: 7px;
  font-weight: 600;
  color: rgb(255, 70, 0);
  line-height: 130%;
}
.style2Swiper .swiper-slide .detail > ul li > div .price_area .price {
  font-size: 17px;
  line-height: 130%;
  font-weight: 600;
}
.style2Swiper .swiper-slide .detail > ul li > div .heart {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 17px;
  color: #666;
  cursor: pointer;
}
.style2Swiper .swiper-pagination {
  bottom: 0;
  font-size: 17px;
}
.style2Swiper .swiper-pagination span {
  font-size: 17px;
}
.style2Swiper .swiper-button-prev,
.style2Swiper .swiper-button-next {
  top: calc(100% - 10px);
  left: 50%;
  width: 50px;
  font-weight: 600;
  color: #000;
  text-shadow: 1px 0 0 currentColor;
}
.style2Swiper .swiper-button-prev:after,
.style2Swiper .swiper-button-next:after {
  display: none;
}
.style2Swiper .swiper-button-prev {
  transform: translateX(-80px);
}
.style2Swiper .swiper-button-next {
  transform: translateX(30px);
}